:root{
  --bg:#131314;
  --card:#1e1f20;
  --header:#202124;
  --text:#ffffff;
  --border:#343541;
  --accent:#2563eb;
}

/* Smooth transitions */

*{
  transition:
  background-color .25s,
  color .25s,
  border-color .25s;
}

html,
body,
#root{
  width:100%;
  height:100%;
}

/* ========================= */
/* DARK */
/* ========================= */

body.dark{
  --bg:#131314;
  --card:#1f1f1f;
  --header:#202124;
  --text:#ffffff;
  --border:#333;
  --accent:#2563eb;
}

/* ========================= */
/* LIGHT */
/* ========================= */

body.light{
  --bg:#f5f5f5;
  --card:#ffffff;
  --header:#ffffff;
  --text:#111111;
  --border:#dddddd;
  --accent:#2563eb;
}

/* ========================= */
/* OCEAN */
/* ========================= */

body.ocean{
  --bg:#06283D;
  --card:#1363DF;
  --header:#0B4F6C;
  --text:white;
  --border:#47B5FF;
  --accent:#47B5FF;
}

/* ========================= */
/* FOREST */
/* ========================= */

body.forest{
  --bg:#1B4332;
  --card:#2D6A4F;
  --header:#081C15;
  --text:white;
  --border:#52B788;
  --accent:#95D5B2;
}

/* ========================= */
/* PURPLE */
/* ========================= */

body.purple{
  --bg:#240046;
  --card:#5A189A;
  --header:#3C096C;
  --text:white;
  --border:#9D4EDD;
  --accent:#C77DFF;
}

/* ========================= */
/* SAKURA */
/* ========================= */

body.sakura{
  --bg:#FFF0F6;
  --card:#FFD6E7;
  --header:#FFC2D1;
  --text:#4A2C2A;
  --border:#FF8FAB;
  --accent:#FF5D8F;
}

/* ========================= */
/* COFFEE */
/* ========================= */

body.coffee{
  --bg:#38220F;
  --card:#634832;
  --header:#4B3621;
  --text:#FFF5E6;
  --border:#967259;
  --accent:#C8A27C;
}

/* ========================= */
/* AMOLED */
/* ========================= */

body.amoled{
  --bg:#000000;
  --card:#0b0b0b;
  --header:#000000;
  --text:#ffffff;
  --border:#222222;
  --accent:#0EA5E9;
}

/* ========================= */
/* CYBERPUNK */
/* ========================= */

body.cyberpunk{
  --bg:#090909;
  --card:#181818;
  --header:#111111;
  --text:#00FFFF;
  --border:#FF00FF;
  --accent:#FF00FF;
}

/* ========================= */
/* DRACULA */
/* ========================= */

body.dracula{
  --bg:#282A36;
  --card:#44475A;
  --header:#282A36;
  --text:#F8F8F2;
  --border:#6272A4;
  --accent:#BD93F9;
}